body
{
    margin:0;
    padding: 0;
}

.image{
    font-size: medium;
    font-weight: bold;
    color: blue;
    text-align: center;
}
.grid{
    margin-bottom: 150px;
}
.hi{
    width: 200px;
    height: 150px;
}
.hey{
    font-size: 70px;
    color: blue;
    font-weight: bolder;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-transform:uppercase;
    text-shadow: 2px blue;
    margin-left: 180px;
}
@media only screen and (max-width: 600px) {
  .hey{
      font-size: 30px;
      margin-right: 70px;
    }
    .grid{ 
        margin-bottom: -200px;
    }
}
